[Unit]
Description=AniDownloader check periodico
Requires=anidownloader-check.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
OnClockChange=true
OnTimezoneChange=true
Persistent=true

[Install]
WantedBy=default.target
