[Unit]
Description=Jellyfin Backup Service (eseguito da timer)

[Service]
Type=oneshot
ExecStart=/home/lorenzo/.local/share/myScript/BackupJellyfin/backupJellyfin.sh

[Install]
WantedBy=default.target
